body {
  font-family: sans-serif;
}
h1, h2 {
  font-weight: 400;
  color: steelblue;
}
input[type="text"],
button {
  font-size: 3em;
}
#objects {
  list-style: none;
  padding: 0;
  
}
.object {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee;
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 240px;
  height: 260px;
  min-height: 180px;
  border-radius: .5em;
}
.thumbnail {
  max-width: 200px;
  max-height: 200px;
}
